@import "https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css";
:root {
  --Font-base: Pretendard Variable, Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI,
    Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, sans-serif;
}

body {
  font-family: var(--Font-base);
}

body {
  margin: 0px;
  padding: 0px;
}

#app {
  left: 0px;
  top: 0px;
  position: fixed;
}

.instance > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0px;
}

#app > #drawnLayer,
#app > #toolsArea {
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0px;
}

#app > #drawnLayer {
  z-index: 10;
}
#app > #toolsArea {
  z-index: 11;
}

/** Tool bar */

#disup {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;

  transition: all 0.1s;
  /* transform: translateY(0px); */
  opacity: 1;

  background: #fff;
  border-radius: 6px;
  border: 1px solid black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
  padding: 8px;

  display: flex;
  gap: 0.4rem;
  align-items: center;
  overflow: visible;

  width: fit-content;
  min-width: max-content;
}

#disup.hide {
  opacity: 0;
  pointer-events: none;
}

#disup > * {
  z-index: 21;
}

#tools {
  display: flex;
}

#tools > button {
  border-right: 0px;
}

#tools > button:last-child {
  border-right: 1px solid #000;
}

#tools > button,
#disup > button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;

  padding: 3px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#disup > button.active,
#tools > button.active {
  background-color: #000;
  color: #fff;
}

.colorwrp {
  height: 1.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;

  position: relative;
}
.colorbtn {
  box-sizing: border-box;
  border-radius: 9999px;
  background: red;
  /* border: 1px solid black; */
  cursor: pointer;

  height: 1.5rem;
  width: 3rem;
  max-width: 1.5rem;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.colorwrp.focus > .colorbtn {
  max-width: 3rem;
}

.colorwrp > input {
  opacity: 0;
  width: 0px;
  height: 0px;
  max-width: 0px;
  max-height: 0px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#pagition {
  display: flex;
  background: white;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#pagition > button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#strokes {
  display: flex;
  background: white;

  position: relative;
}

.strkel {
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.stk {
  width: 0.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  background: black;
}

.selstk {
  position: absolute;
  bottom: -6px;
  height: 3px;
  width: 1.5rem;
  border-radius: 9999px;
  background: #186ef7;
  left: 0px;

  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.tool-button,
.util-button {
  width: fit-content;
  min-width: fit-content;

  user-select: none;
}

#cfg {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);

  width: 20px;
  height: 20px;
  /* overflow: hidden; */
  cursor: pointer;
  color: #fff;
  background: #000;
  padding: 4px;
  border-radius: 3px;
}

#cfg > svg {
  width: 100%;
  height: 100%;
}

.modalWRP {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000000;
}

.modalCTT {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  max-width: 400px;
  width: 90%;
  box-sizing: border-box;
  position: relative;
}
